{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block nav %}
    <nav class="bg-light border navbar navbar-expand-md navbar-light">
        <div class="container-fluid">
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="navbar-nav ms-auto>
                <div class="collapse navbar-collapse" id="navbar"></div>
                <a class="btn btn-primary" href="/create">New Room</a>
            </div>

        </div>
    </nav>
{% endblock %}

{% block main %}
    <h4>Create a room</h4>
{% endblock %}

